
	@font-face {
		font-family: "TECHTONC";
		font-style: normal;
		font-weight: normal;
		src :local("TECHTONC"),url("TECHTONC.TTF"),format("TTF");
	}
h1 {
	font-family: "TECHTONC";
	font-weight: 200;
	color:#0ccac9;
}